.services {
  display: flex;
  padding: 2rem 3.5rem;
  align-items:center;
  height:90vh;
}

.s-left {
  position:relative;
}

.s-text {
  display:flex;
  flex-direction: column;
}

.s-text>:nth-child(1) {
  color:var(--black);
  font-weight:bold;
  font-size: 2.5rem;
}

.s-text>:nth-child(2) {
  color:var(--orange);
  font-weight:bold;
  font-size: 2.5rem;
}

.s-text>:nth-child(3) {
  color:var(--grey);
  margin-top: 16px;
}

.s-button {
  margin-top: 2rem;
}

.s-right-cards {
  position:relative;
}

.s-right-cards>* {
  position:absolute;
}

.s-b-p {
  position: relative;
  width: 40rem;
  height:10rem;
  border-radius: 50%;
  background: #eec8ff;
  filter: blur(125px);
  z-index: -5;
  right: -5%;
}

@media screen and (max-width: 450) {
  .services {
    flex-direction:column;
  }

  .s-b-p {
    display:none;
  }
}
