.portfolio {
  display: flex;
  flex-direction:column;
  padding: 2rem 3.5rem;
  align-items:center;
  height:70vh;
  justify-content: center;
}

.p-text {
  display:flex;
  flex-direction: column;
  text-align:center;
}

.p-text>:nth-child(1) {
  color:var(--black);
  font-size: 1.5rem;
}

.p-text>:nth-child(2) {
  color:var(--orange);
  font-weight:bold;
  font-size: 2.5rem;
}

.portfolio .swiper{
  overflow: visible!important;
}

.portfolio-slider {
  width: 100%;
  margin-top: 2rem;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}

.portfolio img {
  width: 19rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 16px;
}

@media screen and (max-width: 480px) {
  .portfolio{
    padding: 2.5rem 1.5rem;
    height:55vh;
  }
}
