.contact {
  display: flex;
  padding: 2rem 3.5rem;
  align-items:center;
  justify-content:center;
  height:75vh;
  text-align:center;
}

.c-right{
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1;
}

.c-right>form
{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

}

.c-right .user{
  width: 20rem;
  height: 1rem;
  padding: 1rem;
  outline: none;
  border: 2px solid var(--orange);
  border-radius: 8px;
  font-size: 16px;
}

textarea{
  height: 4rem!important;
}

.c-b-y {
  background: rgba(255, 195, 84, 0.651);
  top: 3%;
  left: -30%;
}

@media screen and (max-width: 500px) {
  .contact{
    padding: 2.5rem 1.5rem;
    flex-direction:column;
    height:61vh;
  }

  .c-right{
    width: 100%;
    margin-top:2rem;
  }

  .c-right .user{
    width: 17rem;
  }
}
