.n-wrapper {
  height: 6vh;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 3.5rem;
  background:rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  position: fixed;
  width:100%;
  z-index:15;
  border-bottom: 1px solid white;
}

.n-left {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.n-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.n-list {
  display:flex;
  flex: 10;
  align-items:center;
}

.n-list>ul {
  display:flex;
  gap: 2rem;
  margin-right: 2rem;
  list-style: none;
}

.n-list li:hover {
  cursor:pointer;
  color: var(--orange)
}

.n-button {
  flex: 2;
  height: 2.5rem;
}
