.n-wrapper {
  display: flex;
  height: 8vh;
  width:100vw;
  background:rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  z-index:15;
  border-bottom: 1px solid white;
  position:fixed;
}

.n-wrapper>* {
margin:0.5rem 2rem;
}

.n-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.n-right {
  display: flex;
  flex: 1;
  justify-content: end;
  font-weight: normal;
}

.n-list {
  display:flex;
  align-items:center;
}

.n-list>ul {
  display:flex;
  gap: 2rem;
  margin-right: 2rem;
  list-style: none;
}

.n-list li:hover {
  cursor:pointer;
  color: var(--orange)
}

.n-button {
  height: 2.5rem;
}

@media screen and (max-width: 1000px) {
  .n-button {
    display:none;
  }

  .n-list>ul {
    gap:1rem;
    margin-right: 0rem;
  }
}

@media screen and (max-width: 790px) {
  .n-list {
    display:none;
  }
}
