.intro {
  display:flex;
  height: 75vh;
  padding: 2rem 3.5rem;
  margin-top: 6vh;
}

.i-left {
  flex:1;
  position:relative;
  flex-direction: column;
}

.i-name {
  display: flex;
  flex-direction: column;
}

.i-name>:nth-child(1) {
  color:var(--black);
  font-weight:bold;
  font-size: 3rem;
}

.i-name>:nth-child(2) {
  color:var(--orange);
  font-weight:bold;
  font-size: 3rem;
}

.i-name>:nth-child(3) {
  color:var(--grey);
  margin-top: 16px;
}

.i-right {
  flex:1;
  position:relative;
}

.i-right>*{
  position:absolute;
  z-index:1;
}

.i-right > :nth-child(2) {
  transform: scale(0.69);
  filter: blur(1px);
}
.i-right > :nth-child(1) {
  transform: scale(0.8);
  filter: blur(10px);
}
.i-right > :nth-child(3) {
  transform: scale(0.7);
  left: 3.5rem;
  top: -2rem;
}

.i-right > :nth-child(4) {
  transform: scale(0.6);
}

.i-right > :nth-child(6) {
  transform: scale(0.5);
  filter:blur(1px);
}

.i-right > :nth-child(7) {
  transform: scale(0.9);
}

.i-button {
  margin-top: 2rem;
}

.i-icons {
  margin-top: 2rem;
  display:flex;
  gap: 1rem;
}

.i-icons>* {
  transition: transform 400ms ease-in-out 25ms;
}

.i-icons>*:hover {
  transform: scale(1.25);
  cursor: pointer;
}

.i-b-y {
  background: #ffe7b9;
  top: 13%;
  right: 0%;
}

@media screen and (max-width: 790px) {
  .i-right{
    transform:scale(0.75);
    left:-4rem;
  }
  .i-b-y {
    top: 15rem;
    transform:scale(0.5);
  }
  .i-right > :nth-child(7) {
    right: -10rem !important;
  }
  .i-right > :nth-child(5) {
    top: 22rem !important;
  }
}

@media screen and (max-width: 500px) {
  .intro{
    padding: 2.5rem 1.5rem;
    flex-direction:column;
    height:35rem;
  }

  .i-right{
    transform:scale(0.6);
    left:-4.5rem;
    top:-4rem;
  }

}
